:root {
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-invert: #ffffff;
  --color-action: #ff6464;
  --color-brand: #2196F3;
  --color-background: #FFFFFF;
  --color-background-secondary: #F5F5F5;
  --color-brand-dark: #000000;
  --color-background-dark: #2F303A;
  --color-background-light: #F5F4FA;
  --color-button-active: #188CE8;
  --color-icon-grey: #AFB1B8;
  --color-icon-white: #ffffff;
}

html {
  background: #F5F5F5;
}

body {
  color: var(--color-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--color-background);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  }


.list {
  list-style: none;
  padding: 0;
}

/* ul {
  list-style-type: none;
} */

/* --------------------------------------------Header -----------------------------------------------*/

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--color-icon-grey);
}

.header-nav,
.contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-nav {
  margin-right: 10%;
}

.contacts {
  margin-right: 20px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--color-brand);
  text-decoration: none;
  line-height: 1.19;
  margin: 26px 0;
  margin-left: 15px;
 }

.logo-header {
 color: var(--color-brand-dark);
}

.header-nav,
.contacts {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.header-link {
  color: var(--color-primary);
}
  
.contact {
  color: var(--color-secondary);
}

.header-link:hover,
.header-link:focus,
.contact:hover,
.contact:focus {
  color: var(--color-brand);
  transition: 0.1s linear;
}


/* ---------------------------------------------Hero---------------------------------------------- */


.images {
  background-image: url(../images/background.jpg);
  max-width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section {
  background-color: var(--color-background-dark);
  text-align: center;
 }

.Hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 200px 0 30px 0;  
  color: var(--color-invert);
}

.button {
  cursor: pointer;
  background-color: var(--color-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-invert);
  margin-bottom:  200px;
  width: 216px;
  height: 50px;
  transition: 0.1s linear;
  }


.button:hover,
.button:focus {
  background-color: var(--color-button-active);
}

/* -------------------------------------------Features--------------------------------------------- */

.section-features {
  margin-top: 94px;
}

.features-items {
  width: 270px;
  align-items: center;
  margin-bottom: 20px;
}

.features-title {
  margin-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.features-dscr {
  line-height: 1.71;
  color: var(--color-secondary);
}

.features-list {
  padding: 0;
  align-items: flex-start;
  justify-content: center;
  gap: 22px;
  }

.features-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-light);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  transition: 0.2s linear;
  }

.features-img:hover,
.client:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ----------------------------------------------------job------------------------------------------- */

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-invert);
  }

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  margin: 0;
  padding-top: 94px;
}

.job-list, 
.comand-list,
.client-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 15px 0 15px;
    padding-bottom: 94px;
   
}

.job-title {
  position: relative;
}

.job-title .title {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  width: 100%;
  margin: 0;
  bottom: 3px;
  padding: 24px 0;
}


/* --------------------------------------------------Command--------------------------------------------- */

.command {
  background-color: var(--color-background-light);
  
}
  
.command-team {
  background-color: var(--color-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team-job {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-secondary);
  margin: 0;
  text-align: center;
 }

.socicial {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 9px;
  list-style: none;
  text-align: center;
  margin: 16px auto 30px auto;
 }

 .socicial-item {
  width: 44px;
  height: 44px;
  background-color: var(--color-background);
  fill: var(--color-icon-grey);
  border-radius: 50px;
  transition: background 0.3s linear;
}

.socicial-icon {
  width: 22px;
  height: 22px;
  margin-top: 12px;
  }

.socicial-item:hover {
  background-color: var(--color-brand);
}

.socicial-item:hover .socicial-icon  {
  fill: var(--color-icon-white);
}



/* -----------------------------------------------Client--------------------------------------------- */

.client:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 255, 0.5));
  transition: 0.2s linear;
}

/*------------------------------------------------Footer---------------------------------------------- */

.footer {
  background-color: var(--color-background-dark);
}

.footer .container {
  align-items: baseline;
  padding: 0 15px;
}

.footer-info {  
   padding: 60px 0;
  }

.footer .logo {
  margin: 0;
}

.logo-footer {
  color: var(--color-invert);
}

.contact-map {
  line-height: 1.71;
  color: var(--color-invert);
}
.contacts-info {
  margin-bottom: 10px;
}

.contact-footer .contact  {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer {
  font-style: normal;
}

.footer .title {
  margin: 0 0 20px 0;
}

.footer .socicial-item {
  background: rgba(255, 255, 255, 0.1);
}

.footer .socicial-item:hover {
  background: var(--color-button-active);
}

.email {
  background-color: var(--color-background-dark);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  margin-bottom: 25px;
} 

.footer .button {
  margin: 0 0 60px 12px;
  position: relative;
  text-align: left;
  padding-left: 40px;
}

.send {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ----------------------------------------------Portfolio----------------------------------------- */

.link-underline {
  text-decoration: underline  4px;
  text-underline-offset: 0.7em;
  color: var(--color-brand);
}


/* ------------------------------------------------Project------------------------------------------ */
.project {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.button-filters {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color:  var(--color-background-light);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: 0.2s linear;
}

.button-filters:hover,
.button-filters:focus {
  color: var(--color-invert);
  background-color: var(--color-brand);
}


.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: 94px;
  margin-left: -15px;
  margin-right: -15px;
  
}

.project-items {
  border: 1px solid #EEEEEE;
  
}
.rrr:hover {
  transform: scale 0.9/0.9;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px 24px;
}

.project-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-secondary);
  margin: 4px 24px 20px 24px;
}

/* --------------------------------------Контакти----------------------------------------*/
.about {
  background-color: var(--color-background-light); 
}
.about-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.about-container {
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.about .section-title {
  padding: 20px 0;
}

.address-list {
  width: 400px;
  text-align: center;
  padding-bottom: 20px;
}

.map {
  margin: 0 15px;
  height: 550px;
  border: 3px solid var(--color-icon-grey);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.about .contact {
  color: #2F303A;
  font-size: 24px;
  font-weight: 600;
}

.about .contact:hover,
.about .contact:focus {
  color: var(--color-brand);
  transition: 0.1s linear;
}


/* --------------------------------------------------Modal---------------------------------------------- */
.modal-bgr {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.82);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.modal-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-bgr:target {
  opacity: 1;
  visibility: visible;
}

.modal-bgr:target .modal-form-container {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}
  
.modal-form-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 528px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
  
.modal-form {
  width: 100%;
  max-width: 528px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 12px;
  top: 12px; 
  width: 20px;
  height: 20px;
 }

 .modal-close:hover,
 .modal-close:focus {
  fill: #188CE8;
 }

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0 0 12px 0;
}

.modal-form-field {
  text-align: center;
  margin-bottom: 30px;
}

.modal-form-btn {
  text-align: center;
}

.modal-field-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--color-secondary);
}

.modal-field-input,
.modal-field-text {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-field-input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: calc(100% - 42px);
}

.modal-field-text {
  height: 120px;
  margin: 16px 0 8px 0;
  resize: none;
}

.modal-field-check {
  font-size: 12px;
  line-height: 1.71;
  color: var(--color-secondary);
 }

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-left: 14px;
}

.contract {
  color: var(--color-brand);
  text-decoration: underline solid 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
}

.modal-bgr .button {
  margin-top: 30px;
  width: 200px;
  margin: 0;
}

.svg-men {
  background: url(../images/vector.svg) no-repeat 15px 14px;
}

.svg-tel {
  background: url(../images/vector2.svg) no-repeat 15px 14px;
}

.svg-email {
  background: url(../images/vector3.svg) no-repeat 15px 14px;
}

.svg-men:hover,
.svg-tel:hover,
.svg-email:hover,
.svg-men:focus,
.svg-tel:focus,
.svg-email:focus,
.modal-field-text:hover,
.modal-field-text:focus
 {
  border-color: #188CE8;
  outline: 1px solid #188CE8;
}

/* --------------------------------------------------Media-------------------------------------------- */

@media only screen and (max-width: 1169px) {
  .container {
    max-width: 768px;
  }

  .images {
    background-image: url(../images/background.jpg);
    max-width: 1200px;
  }

  .features-img,
  .features-items {
    width: 354px;
  }

  .command-foto {
    width: 354px;
    height: 374px;
  }

  .client-logo {
    width: 226px;
  }

  .header-nav {
    margin-right: 5%;
  }

  .Hero {
    font-size: 26px;
    margin: 0;
    padding: 200px 0 30px 0;  
  }

  .contacts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
  }
  .section-features {
    margin-top: 60px;
  }

  .section-title {
    padding-top: 60px;
  }

  .job-list, 
  .comand-list,
  .client-list {
    max-width: 768px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px auto 0 auto;
    padding-bottom: 60px;
  }

  .footer-info,
  .invitation {
    text-align: center;
  }

  .footer .container {
    justify-content: space-around;
  }
 
  .title {
    text-align: center;
  }

  .project {
    margin-top: 60px;
    max-width: 750px;
  }
  
  .project-list {
    justify-content: start;
    margin-bottom: 60px;
  }
   
  .button-list {
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767.9px) {
  .container {
    align-items: center;
    max-width: 550px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .images {
    background-image: url(../images/background.jpg);
    max-width: 770px;
  }

  .logo {
    margin: 15px 0;
  }

  .header-nav {
    margin: 0 0 15px 0;
    align-items: center;
    justify-content: center;
  }

  .Hero {
    margin: 0;
    padding: 118px 0 30px 0;
  }
    
  .button {
    margin-bottom:  118px;
    }

  .contacts {
    align-items: center;
    margin: 15px;
  }

  .features-dscr {
   text-align: center;
  }

  .features-img,
  .features-items {
    width: 450px;
  }

  .command-foto {
    width: 450px;
    height: 460px;
  }

  .client-logo {
    width: 210px;
  }

  .features-title {
    text-align: center;
  }

  .job-list, 
  .comand-list,
  .client-list {
    width: 480px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px auto 0 auto;
  }

  .invitation {
    margin-bottom: 60px;
  }

  .footer .container {
    display: block;
    text-align: center;
  }

  .project {
    margin-top: 60px;
    max-width: 420px;
  }
  
  .project-list {
    justify-content: center;
  }

  /* --------------------------------------------------Modal---------------------------------------------- */
  .modal-form-container {
    max-width: 400px;
  }
    
  .modal-form {
    padding: 30px;
  }

  .modal-form-field {
    text-align: center;
    margin-bottom: 20px;
  }

  .modal-field-input {
    height: 30px;
  }

  .modal-field-text {
    height: 80px;
    margin: 4px 0 8px 0;
    resize: none;
  }

  .modal-bgr .button {
    width: 200px;
  }

  .svg-men {
    background: url('/images/Vector.svg') no-repeat 15px 10px;
  }

  .svg-tel {
    background: url('/images/vector2.svg') no-repeat 15px 10px;
  }

  .svg-email {
    background: url('/images/vector3.svg') no-repeat 15px 10px;
  }
}
